<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Blockchain Voucher App</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username" ng-model="username" placeholder="Username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" ng-model="password"  placeholder="Password"/>
                        </div>
                    </div>
                </div>


                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="submit()">Login</button>
                </div>
                <div class="login-register">
                    <a href="#/register">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
