<!--
* @author SharathChandra
* created on  01/07/2016
-->

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><strong>{{items.username +"'s Vouchers"}}</strong></h1>
            <h4>{{ "Type : " + items.usertype}}<br/>
            </h4>
        </div>
    </div>
<br/>
<br/>

    <table st-table="items.txnDetails" class="table" style="background: white">
        <thead>
        <tr>
            <th style="background: #2d6ca2"></th>
            <th>Name</th>
            <th>Value</th>
            <th>AssetID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items.txnDetails">
            <td style="background:#9dcfff"><input type="radio" id="radTable" name="item.txid" st-select-row="item" ng-click="selItem(item)"></td>
            <td>{{item.name}}</td>
            <td>{{item.value}}</td>
            <td>{{item.txid}}</td>
        </tr>
        </tbody>
    </table>

    <br/>

    <button type="button" style="height: 4em; width:15em;" class="btn btn-primary" ng-click="newVoucher('lg')" ng-show="items.usertype=='Donor'">
    <h4>Add a new voucher</h4>
    </button>

    <button type="button" style="height: 4em; width:15em;float: right;" class="btn btn-success" ng-click="transferVoucher(selectedItem)"  ng-show="items.usertype=='Donor'">
        <h4>Transfer</h4>
    </button>

    <button type="button" style="height: 4em; width:15em; display: block;margin: 0 auto;" class="btn btn-success" ng-click="transferVoucher(selectedItem)"  ng-show="items.usertype!='Donor'">
    <h4>Redeem</h4>
</button>

</div>
<!-- /.container -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title"><strong>{{cid}}</strong></h3>
        <h5 class="modal-title">Asset ID : <strong>{{aid}}</strong></h5>
    </div>
    <div class="modal-body">

        <div>{{voucher.name}}</div>
        <div class="form-group">
            <label>Transfer To:</label>
            <input type="text" ng-model="transfer_to" class="form-control">
        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header">
        <h3 class="modal-title"><strong>{{nameOfVoucher}}</strong></h3>
    </div>
    <div class="modal-body">

        <div class="form-group">

            <label>Company</label>:</label>
            <input type="text" ng-model="nameOfVoucher" class="form-control">
            <br>
            <label>Description</label>:</label>
            <input type="text" ng-model="valueOfVoucher" class="form-control">

        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


