<!--
* @author SharathChandra
* created on  01/07/2016
-->

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color: white"><strong>{{ items.username +"'s Vouchers" }}</strong></h1>
            <h4 style="color: white">{{ "Type : " + items.usertype }}<br/>
            </h4>
        </div>
    </div>
    <br/>
    <br/>

    <table st-table="items" class="table" style="background: white">
        <thead>
        <tr>
            <th style="background: #61d1e3">Vouchers</th>
            <th>Name</th>
            <th>Value</th>
            <th>AssetID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items.txnDetails">
            <td style="background:#508d9f"><input type="radio" name="item.txid" st-select-row="item"
                                                  ng-click="selItem(item)"></td>
            <td style="width: 300px;font-weight: bold">{{ item.name }}</td>
            <td style="width: 360px">{{ item.value }}</td>
            <td>{{ item.txid }}</td>
        </tr>
        </tbody>
    </table>

    <br/>

    <button type="button" style="height: 4em; width:15em;" class="btn btn-primary" ng-click="newVoucher('lg')"
            ng-show="items.usertype=='Donor'">
        <h4 style="font-weight: bold">Add a new voucher</h4>
    </button>

    <button type="button" style="height: 4em; width:15em;float: right;" class="btn btn-success"
            ng-click="transferVoucher(selectedItem)" ng-show="items.usertype=='Donor'">
        <h4 style="font-weight: bold">Transfer</h4>
    </button>

    <button type="button" style="height: 4em; width:15em; display: block;margin: 0 auto;" class="btn btn-success"
            ng-click="transferVoucher(selectedItem)" ng-show="items.usertype!='Donor'">
        <h4 style="font-weight: bold">Redeem</h4>
    </button>


    <div id="history" style="margin-top: 120px; position: relative">
        <h3 style="color: white;"> Transaction History </h3>


        <table tr-ng-grid items="historyList.history" selection-mode="None" page-items="10" enable-filtering="true"
               enable-sorting="true">
            <thead>
            <tr>
                <th field-name="blockNumber" display-name="Block" display-align="center"
                    display-format="uppercase"></th>
                <th field-name="name" display-name="Name" display-align="center"
                    style="width: 300px;">
                </th>
                <th field-name="value" display-name="Value" display-align="center"
                    style="width: 360px">
                </th>
                <th field-name="type" display-name="Type" display-align="center">
                </th>
                <th field-name="from" display-name="Sender" display-align="center">
                </th>
                <th field-name="to" display-name="Receiver" display-align="center">
                </th>
                <th field-name="datetime" display-name="Timestamp" display-align="center">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td field-name="blockNumber">
                    <div>
                        <button class="btn btn-default"
                                ng-click="getBlockDetails(gridItem.blockNumber);$event.stopPropagation();">
                            <b>Block {{ gridItem.blockNumber }}</b>
                        </button>
                    </div>
                </td>
                <td field-name="name" style="font-weight: bold">
                    {{ gridItem.name }}
                </td>
            </tr>
            </tbody>
        </table>


    </div>


</div>
<!-- /.container -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title"><strong>{{ vname }}</strong></h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label><h4><strong>Transfer To : </strong></h4></label> &nbsp;
            <select ng-model="selCust" ng-options="cust as cust.username for cust in customerList">
                <option value="">---Please select---</option>
            </select>
        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header">
        <h2 class="modal-title"><strong>{{ nameOfVoucher }}</strong></h2>
    </div>
    <div class="modal-body">

        <div class="form-group">

            <label>Company</label>:</label>
            <input type="text" ng-model="nameOfVoucher" class="form-control">
            <br>
            <label>Description</label>:</label>
            <input type="text" ng-model="valueOfVoucher" class="form-control">

        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="myModalContent3.html">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Block {{ blockNumber }}</strong></h3>
    </div>
    <div class="modal-body">

        <div class="form-group">


            <pre class='json' json='blockDetails' pretty-json/>


        </div>

    </div>
</script>


