/**
 * @author SharathChandra
   created on  01/07/2016
 */

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main{
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.st-selected{
    border-left:4px solid black;
    background: orange;
}


th{
    font-size: 20px;
    text-align: center;
    width: 200px;
    background-color:#9dcfff
}

table{
    border: 1px solid black;
}

td{
    width:200px;
    text-align: center;
    font-size: 16px;

}

#radTable {
    border: 0px;
    width: 100%;
    height: 2em;
}

/*.scrollwidth {*/
    /*width: 60px;*/
    /*height: 40px;*/
/*}*/


label{
    margin-bottom: 6px;
    margin-top: 6px;
}

.form-group{
    margin-bottom: 0px;
}